<launch>
  <!-- 뒤쪽 카메라 노드 -->
  <node name="cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video2" />
    <param name="image_width" value="1920" />
    <param name="image_height" value="1080" />
    <param name="pixel_format" value="mjpeg" />
    <param name="color_format" value="yuv422p" />
    <param name="camera_frame_id" value="cam" />
    <param name="io_method" value="mmap"/>
  </node>

  <!-- 왼쪽 카메라 노드 -->
  <node name="left_fisheye_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="white_balance_temperature_auto" value="false" />
    <param name="focus_auto" value="false" />
    <param name="video_device" value="/dev/video4" />
    <param name="image_width" value="1920" />
    <param name="image_height" value="1080" />
    <param name="pixel_format" value="mjpeg" />
    <param name="color_format" value="yuv422p" />
    <param name="camera_frame_id" value="left_fisheye_cam" />
    <param name="io_method" value="mmap"/>  
  </node>

  <!-- 오른쪽 카메라 노드 -->
  <node name="right_fisheye_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="white_balance_temperature_auto" value="false" />
    <param name="focus_auto" value="false" />
    <param name="video_device" value="/dev/video6" />
    <param name="image_width" value="1920" />
    <param name="image_height" value="1080" />
    <param name="pixel_format" value="mjpeg" />
    <param name="color_format" value="yuv422p" />
    <param name="camera_frame_id" value="right_fisheye_cam" />
    <param name="io_method" value="mmap"/>  
  </node>
</launch>
